html {
  cursor: default;
}

.floatingElement {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 10;
  margin: 12px;
  border-radius: 4px;
}
